# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/
matrix_multiplication
matrix_mul_32x32x32_NVIDIA_GeForce_RTX_2080_Ti.csv
.gitignore
.gitignore
matrix_mul_1024x1024x1024_NVIDIA_GeForce_RTX_2080_Ti.csv
.gitignore
matrix_mul_1024x2048x1024_NVIDIA_GeForce_RTX_2080_Ti.csv
matrix_mul_8192x8192x8192_NVIDIA_GeForce_RTX_2080_Ti.csv
matrix_mul_performance.csv
